<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Task Manager{% endblock%}</title>
</head>
<body>
    
    <div class="bg-white h-screen flex flex-col items-center">
        <h1 class="text-5xl font-bold p-4">Todo Manager</h1>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
        
    </div>
    
</body>
</html>